<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% date = DateTime.now.to_datetime %>
    <p>The date is <%= date([format='%A%B%-d']) %></p>
  </body>
</html>
